<html>
    <%- include('./partials/header.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>
        
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita placeat consectetur, praesentium non voluptates unde explicabo deserunt soluta dolore labore quos doloribus id, earum odio ex odit incidunt? Excepturi, vitae.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita placeat consectetur, praesentium non voluptates unde explicabo deserunt soluta dolore labore quos doloribus id, earum odio ex odit incidunt? Excepturi, vitae.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita placeat consectetur, praesentium non voluptates unde explicabo deserunt soluta dolore labore quos doloribus id, earum odio ex odit incidunt? Excepturi, vitae.</p>
        </div>
    </body>
</html>